.deloitte {
  margin-top: 1vh;
  font-weight: bold;
  font-size: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.deloitte-point {
  color: rgb(68, 255, 47)
}

.employees-search-header,
.sing-in-header,
.sing-up-header,
.add-employee-header {
  color: #06b8c8;
  font-weight: bold;
  font-size: 5vh;
  letter-spacing: 0.1em;
}

.search-input,
.password-input,
.username-input,
.employee-form-input {
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 40px;
  border-radius: 10cqb;
}

.load-more-button:hover {
  background-color: #048a96;
}

.sing-in-button,
.create-account-button,
.sing-up-button,
.create-employee-button,
.load-more-button,
.sing-out-button {
  border: none;
  color: white;
  font-size: 2vh;
  background-color: #06b8c8;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 10cqb;
}

.sing-out-button {
  margin: 0
}

.sing-in-button:hover,
.sing-out-button:hover {
  background-color: #048a96
}

.email-input,
.password-input,
.search-input,
.employee-form-input {
  text-indent: 10px;
}

.alert-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  z-index: 9999;
  border-radius: 10cqb;
}

.alert-message {
  color: #fff;
}

@media(max-width: 430px) {
  .search-input,
  .password-input,
  .username-input,
  .employee-form-input {
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 30px;
    border-radius: 10cqb;
  }

  .employees-search-header,
  .sing-in-header,
  .sing-up-header,
  .add-employee-header {
    color: #06b8c8;
    font-weight: bold;
    font-size: 3.5vh;
    letter-spacing: 0.1em;
  }
}